*{
    margin: 0;
    padding: 0;
}
nav{
    width: 50%;
    margin: auto;
}
a:hover{
    color: black;
}
ul{
    display:inline-flex
}
li{
    list-style: none;
    padding: 10px;
    margin:0;
}
header, footer {
    height: 100px;
    background-color: darkcyan;
}
main{
    background-color: aquamarine;
    min-height: 100vh;
    padding: 20px;
    
}
